html, body {
  min-height: 100%;
}
body {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #7b4397; /* fallback for old browsers */
  background-image: -moz-linear-gradient(-45deg, #7b4397, #dc2430);
  background-image: -webkit-linear-gradient(-45deg, #7b4397, #dc2430);
  background-image: linear-gradient(135deg, #7b4397, #dc2430);
  font-family: 'Cairo', 'Helvetica Neue', Arial, sans-serif;
}
.navbar-brand {
  font-family: 'Pacifico';
  font-size: 36px;
  margin: 0;
  color: #fff;
  -ms-transform: rotate(-4deg); /* IE 9 */
  -webkit-transform: rotate(-4deg); /* Chrome, Safari, Opera */
  transform: rotate(-4deg);
}